<h1>List of tasks</h1>
  <% @tasks.each do |task| %>
    <div>
      <% if task.completed %>
        <input type="checkbox" id="<%= task.title %>" name="<%= task.title %>" checked>
      <% else %>
        <input type="checkbox" id="<%= task.title %>" name="<%= task.title %>">
      <% end %>
      <label for="<%= task.title %>"><%= link_to task.title, task_path(task) %></label>
    </div>
  <% end %>
